<style>#principal {
        width: 900px;
        height: auto;
        top: 50%;
        margin-top: 60px;
        border: 1px solid green;
        padding: 50px;
        position: relative;
    }
</style>




<div class="container" id="principal">
    <table><tr><td><h3>Lista de Insumo</h3></td><td><a href="@Url.Action("Nuevo","Insumo")">Nuevo</a></td></tr></table>
    <hr />
    <table class="table compact">
        <thead>
            <tr>
                <th>#</th>
                <th>Descripcion</th>
                <th>Unidad Medida</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Manillas de Bronce</td>
                <td>Unidad</td>
                <td>Accesorios</td>
                <td>
                    <a href="@Url.Action("Ver","Insumo", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Insumo", new {id=1 })">Editar</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Terciado Estructural</td>
                <td>M2</td>
                <td>Materia Prima</td>
                <td><a href="@Url.Action("Ver","Insumo", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Insumo", new {id=1 })">Editar</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Pintura Blanca</td>
                <td>Galon</td>
                <td>Pinturas</td>
                <td>
                    <a href="@Url.Action("Ver","Insumo", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Insumo", new {id=1 })">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>



