@{
    ViewBag.Title = "Intranet";
    Layout = "~/Areas/Gerencia/Views/Shared/_IntranetLayoutGerencia.cshtml";
}

<style>
    #principal {
        width: 900px;
        height: auto;
        top: 50%;
        margin-top: 60px;
        border: 1px solid green;
        padding: 50px;
        position: relative;
    }

    #btn_nuevo {
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .user_session {
        margin-top: 3px;
        margin-left: 5px;
        width: 300px;
        position: relative;
        color: blue;
    }

        .user_session h6 {
            color: blue;
        }

     

    .div-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="user_session">
    <h6>Usuario: Juan Perez</h6>
</div>



<div class="container" id="principal">
    <div class="div-img"><img style="width:50px; height:50px;" src="~/pics/intranet/listar.jpg"></div>
    <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:space-between">
        <h3>Lista de Proveedores</h3>
        <a id="btn_nuevo" href="@Url.Action("Nuevo","Proveedor")" class="button primary rounded"><span class="mif-add icon">Nuevo</span></a>
    </div>   
    <hr />
    <table class="table compact row-hover">
        <thead>
            <tr>
                <th>Razon</th>

                <th>Dirección</th>
                <th>Email</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Empresa de Pinturas S.A</td>

                <td>Los Avellanos # 675</td>
                <td>ep@email.com</td>
                <td>Pinturas</td>
                <td>
                    <a href="@Url.Action("Ver","Proveedor", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Proveedor", new {id=1 })">Editar</a>
                </td>
            </tr>
            <tr>
                <td>Prodema S.A</td>

                <td>Padre Lorenzo Eiting #5893</td>
                <td>prodema@email.com</td>
                <td>Materia Prima</td>
                <td>
                    <a href="@Url.Action("Ver","Proveedor", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Proveedor", new {id=1 })">Editar</a>
                </td>
            </tr>
            <tr>
                <td>Gretsch-Unitas</td>

                <td> Camino Los Carros #1955</td>
                <td>gu@email.com</td>
                <td>Cerraduras</td>
                <td>
                    <a href="@Url.Action("Ver","Proveedor", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Proveedor", new {id=1 })">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>



