<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intranet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/metro")

    <style>
        .button2 {
            background: transparent;
            border: none;
        }

        div.mega-container {
            display: inline-block;
            min-width: 400px;
        }
    </style>
</head>



<body>
    <div style="display:flex; flex-direction:row; justify-content:space-between ">
        <ul class="h-menu mega">
            <li><a href="@Url.Action("Index","Empleado")"><span class="mif-home icon"></span></a></li>
            <li>
                <a href="#" class="dropdown-toggle"><span class="mif-cart icon"></span> Productos</a>
                <div class="mega-container" data-role="dropdown">
                    <ul class="h-menu">
                        <li><a href="@Url.Action("Index","Producto")"><span class="mif-zoom-in icon"></span> Ver Productos</a></li>
                        <li><a href="#">Otro1</a></li>
                        <li><a href="#">Otro2</a></li>
                        <li><a href="#">Otro3</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#" class="dropdown-toggle"><span class="mif-stack icon"></span> Insumos</a>
                <div class="mega-container" data-role="dropdown">
                    <ul class="h-menu">
                        <li><a href="@Url.Action("Index","Insumo")"><span class="mif-zoom-in icon"></span> Ver Insumos</a></li>
                        <li><a href="#">Otro1</a></li>
                        <li><a href="#">Otro2</a></li>
                        <li><a href="#">Otro3</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#" class="dropdown-toggle"><span class="mif-shop icon"></span> Proveedores</a>
                <div class="mega-container" data-role="dropdown">
                    <ul class="h-menu">
                        <li><a href="@Url.Action("Index","Proveedor")"><span class="mif-zoom-in icon"></span> Ver Proveedores</a></li>
                        <li><a href="#">Otro1</a></li>
                        <li><a href="#">Otro2</a></li>
                        <li><a href="#">Otro3</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#" class="dropdown-toggle"><span class="mif-user icon"></span> Empleados</a>
                <div class="mega-container" data-role="dropdown">
                    <ul class="h-menu">
                        <li><a href="@Url.Action("Index","Empleado")"><span class="mif-zoom-in icon"></span> Ver Empleados</a></li>
                        <li><a href="#">Otro1</a></li>
                        <li><a href="#">Otro2</a></li>
                        <li><a href="#">Otro3</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="h-menu mega">
            <li><a href="/Home/Index"><span class="mif-exit icon"></span> Salir</a></li>
        </ul>
    </div>

    @RenderBody()
</body>
</html>
