@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Shared/_IntranetLayout.cshtml";
}

<style>
    #principal {
        width: 900px;
        height: auto;
        top: 50%;
        margin-top: 30px;
        border: 1px solid green;
        padding: 50px;
        position: relative;
    }

    .user_session {
        margin-top: 3px;
        margin-left: 5px;
        width: 300px;
        position: relative;
        color: blue;
    }

        .user_session h6 {
            color: blue;
        }

    .div-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="user_session">
    <h6>Usuario: Juan Perez</h6>
</div>
<div class="container" id="principal">
    <div class="div-img"><img style="width:50px; height:50px;" src="~/pics/intranet/listar.jpg"></div>
    <h3>Lista de Empleados</h3>
    <a href="/Empleado/nuevo" class="button primary small"><span class="mif-note-add"></span>Nuevo</a>
    <hr />
    <table class="table compact row-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Rut</th>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Juan Carlos</td>
                <td>Fernandez Medina</td>
                <td>14.876.789-1</td>
                <td>Supervisor</td>
                <td>
                    <a href="@Url.Action("Ver","Empleado", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Empleado", new {id=1 })">Editar</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Felipe Rodrigo</td>
                <td>Aravena Canto</td>
                <td>20.897.232-1</td>
                <td>Bodeguero</td>
                <td>
                    <a href="@Url.Action("Ver","Empleado", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Empleado", new {id=1 })">Editar</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Manuel Alberto</td>
                <td>Millanao Vera</td>
                <td>12.897.123-k</td>
                <td>Control producción</td>
                <td>
                    <a href="@Url.Action("Ver","Empleado", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Empleado", new {id=1 })">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

