<style>
#principal {
        width: 900px;
        height: auto;
        top: 50%;
        margin-top: 60px;
        border: 1px solid green;
        padding: 50px;
        position: relative;
    }
</style>




<div class="container" id="principal">
    <h3>Lista de Productos</h3>
    <table><tr><td><a href="@Url.Action("Nuevo","Producto")">Nuevo/</a></td><td><a href="@Url.Action("Index","Insumo")">Insumos/</a></td><td><a href="@Url.Action("Index","Proveedor")">Proveedores</a></td></tr></table>
    <hr />
    <table class="table compact">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Codigo</th>
                <th>Ingreso</th>
                <th>Valoracion</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>User-01</td>
                <td>PD-19</td>
                <td>20-02-2018</td>
                <td>$ 650.000</td>
                <td>La descripcion...</td>
                <td>
                    <a href="@Url.Action("Ver","Producto", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Producto", new {id=1 })">Editar</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>User-05</td>
                <td>PD-360</td>
                <td>30-03-2020</td>
                <td>$ 450.000</td>
                <td>La descripcion2...</td>
                <td>
                    <a href="@Url.Action("Ver","Producto", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Producto", new {id=1 })">Editar</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>User-01</td>
                <td>PD-05</td>
                <td>29-02.2018</td>
                <td>$ 200.000</td>
                <td>La descripcion3...</td>
                <td>
                    <a href="@Url.Action("Ver","Producto", new { id = 1 })">Ver/</a>
                    <a href="@Url.Action("Editar", "Producto", new {id=1 })">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>



